<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.UserDao">
    <resultMap id="User" type="com.ssm.domain.User">
        <id column="id" property="id"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
        <result column="number" property="number"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
    </resultMap>

    <!-- 新建用户 !-->
    <insert id="createUser" parameterType="com.ssm.domain.User">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            select replace(uuid(), '-', '')
        </selectKey>
        insert into user_tbl(id, create_at, update_at, number, name, age, gender, password)
        values (#{id, jdbcType=VARCHAR},
                now(),
                now(),
                #{age, jdbcType=INTEGER},
                #{name, jdbcType=VARCHAR},
                #{age, jdbcType=INTEGER},
                #{gender, jdbcType=VARCHAR},
                #{password, jdbcType=VARCHAR})
    </insert>

    <!-- 通过name查找用户 !-->
    <select id="findUserByName" resultType="com.ssm.domain.User">
        select * from user_tbl where name = #{name}
    </select>

    <!-- 查找所有用户 !-->
    <select id="findAll" resultType="com.ssm.domain.User">
        select * from user_tbl
    </select>
</mapper>